@media (max-width: 768px) {
<<<<<<< HEAD
	.container{
		background-color:blue;
=======
	.col-sm-6 {
	  width: 1000px !important;
>>>>>>> bc6d1e821a358393cf2caa525b8561bbe5bfdd48
	}
}
.containerbis{
	background-color:white;
	height:800px;
	padding: 20px;
}
.containernews{
	background-color:white;
	height:1500px;
	padding: 20px;
}
.containertop{
	min-width:100px;
	height:200px;
}
.cardlink{
	color: white;
}
.cardlink:link{
	color: white;
}
.cardlink:hover{
	color: white;
	text-decoration: underline;
}
.cardlink:visited{
	color:white;
}
.cardlink:active{
	color: white;
}
hr{
	border-color:grey;
}
.list-group-item{
	background-color: #0077f7;
}
.list-group-item active{
	background-color: #0077f7;
}
.carousel-caption {
    left:0;
	right:0;
	bottom:0;
	text-align:left;
	padding:10px;
	background:rgba(0,0,0,0.6);
	text-shadow:none;
}

#myCarousel .list-group {
	position:absolute;
	top:0;
	right:0;
}
#myCarousel .list-group-item {
	border-radius:0px;
	cursor:pointer;
}
#myCarousel .list-group .active {
	background-color:#eee;	
}

@media (min-width: 992px) { 
	#myCarousel {padding-right:33.3333%;}
	#myCarousel .carousel-controls {display:none;} 	
}
@media (max-width: 991px) { 
	.carousel-caption p,
	#myCarousel .list-group {display:none;} 
}